*{
    font-family: monospace;
    outline: none;

}
.term-window {
    background-color: #000000;
    font-size: 11pt;
    width: 400px;
    border-radius: 2%;
    height: 500px;
    margin: 0 auto;
}
header {
  padding-left: 10px;
}

.term-text {
    margin: 20px;
}

textarea {
    margin: 0;
    float: left;
    font-size: 17px;
    border: 0px;
    background: 0px center;
    color: white;
    overflow: hidden;
    width: 534px;
    height: 57px;
}

iframe{
  border: 0;
}

.back {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.logo {
    width: 40px;
    margin: 20px;
    border: 20px dotted #000000;
    border-radius: 209px;
    background: white;
}

a:hover {
	color: blue;
}

#jump{
	margin: 10px;
}
#jump:hover{
	color: blue;
}
